html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #031C30;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.geralContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.highestUserScore {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.centerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 85%;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    width: 60%;
    height: 60%;
    border: 5px solid red;
    box-shadow: 0 0 10px black;
}

#game-image {
    width: 100%;
    height: 100%;
}

#game {
    text-align: center;
    color: white;
    font-size: 24px;
    margin-bottom: 2%;
}

.divBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    width: 60%;
    height: 8%;
}

.divBtnImages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.btnImages {
    width: 20%;
    font-size: 14px;
    margin-left: 1%;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    background-color: #1E293B;
    color: white;
    cursor: pointer;
}

.disabledBtns {
    cursor: not-allowed;
    opacity: 0.5;
}

.styleBtns {
    width: 25%;
    height: 70%;
    font-size: 25px;
    margin-left: 1%;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    color: white;
    background-color: #059669;
}

.btnStyle {
    width: 51%;
    height: 30px;
    background-color: #059669;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#chances {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2%;
}

.inputStyle {
    width: 50%;
    height: 30px;
    font-size: 20px;
    margin-bottom: 1%;
    border-radius: 5px;
    outline: none;
    border: none;
    padding-left: 10px;
}

.dropdown {
    display: none;
    position: absolute;
    border: 1px solid white;
    background-color: black;
    overflow-y: auto;
    padding: 0;
    list-style: none;
    z-index: 3;
    width: 40%;
    top: 81%;
}

.liGame {
    padding: 5px;
    cursor: pointer;
    border: 1px solid white;
    font-size: 20px;
    width: auto;
    color: white;
}

.amassou {
    animation: rainbow-text 3.5s infinite;
}

@keyframes rainbow-text {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: rgb(119, 255, 119); }
    57% { color: rgb(75, 75, 255); }
    71% { color: rgb(194, 108, 255); }
    85% { color: violet; }
    100% { color: red; }
}

.green {
    color: lightgreen;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

#user {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1%;
}

.lbUser {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1%;
}

.btnUser {
    width: 21%;
    height: 30px;
    background-color: #059669;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}