<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Pages/css.css">
    <title>Adivinhe o jogo!</title>
</head>
<body>
    <div class="geralContainer">
        <span class="highestUserScore">Pontuação mais alta: Murilo, 25 Pontos</span>
        <div class="centerContainer">
            <div class="imgContainer">
                <img src="" alt="" id="gameImage">
            </div>
            <div class="divBtns">
                <div class="divBtnImages">
                    <button class="btnImages" id="img1">1</button>
                    <button class="btnImages" id="img2">2</button>
                    <button class="btnImages" id="img3">3</button>
                    <button class="btnImages" id="img4">4</button>
                    <button class="btnImages" id="img5">5</button>
                </div>
                <button id="priorBtn" class="styleBtns"> Pular </button>
            </div>
            <span id="chances">5 Chances restantes</span>
            <input type="text" class="inputStyle" placeholder="Pesquise um jogo...">
            <!-- <ul class="dropdown">
                <li class="liGame">The Legend of Zelda</li>
                <li class="liGame">The Legend of Zelda: Ocarina of Time</li>
                <li class="liGame">The Legend of Zelda: Majora's Mask</li>
                <li class="liGame">The Legend of Zelda: Wind Waker</li>
                <li class="liGame">The Legend of Zelda: Twilight Princess</li>
                <li class="liGame">The Legend of Zelda: Skyward Sword</li>
                <li class="liGame">The Legend of Zelda: A Link to the Past</li>
                <li class="liGame">The Legend of Zelda: A Link Between Worlds</li>
                <li class="liGame">The Legend of Zelda: Link's Awakening</li>
                <li class="liGame">The Legend of Zelda: Oracle of Ages</li>
                <li class="liGame">The Legend of Zelda: Oracle of Seasons</li>
                <li class="liGame">The Legend of Zelda: Phantom Hourglass</li>
                <li class="liGame">The Legend of Zelda: Spirit Tracks</li>
                <li class="liGame">The Legend of Zelda: Four Swords</li>
                <li class="liGame">The Legend of Zelda: Four Swords Adventures</li>
                <li class="liGame">The Legend of Zelda: Minish Cap</li>
                <li class="liGame">The Legend of Zelda: Tri Force Heroes</li>
                <li class="liGame">The Legend of Zelda: Breath of the Wild</li>
                <li class="liGame">The Legend of Zelda: Tears of the Kingdom</li>
                <li class="liGame">The Witcher 1</li>                
                <li class="liGame">The Witcher 2: Assassins of Kings</li>
                <li class="liGame">The Witcher 3: Wild Hunt</li>
                <li class="liGame">Red Dead Redemption</li>
                <li class="liGame">Red Dead Redemption 2</li>
                <li class="liGame">Red Dead Redemption Undead Nightmare</li>
                <li class="liGame">God of War </li>
                <li class="liGame">God of War 2 </li>
                <li class="liGame">God of War 3 </li>
                <li class="liGame">God of War Ascension</li>
                <li class="liGame">God of War Chains of Olympus</li>
                <li class="liGame">God of War Ghost of Sparta</li>
                <li class="liGame">God of War Betrayal</li>
                <li class="liGame">God of War (2018)</li>
                <li class="liGame">God of War Ragnarok</li>
                <li class="liGame">Dark Souls</li>
                <li class="liGame">Dark Souls 2</li>
                <li class="liGame">Dark Souls 3</li>
                <li class="liGame">Demon's Souls</li>
                <li class="liGame">Bloodborne</li>
                <li class="liGame">Sekiro: Shadows Die Twice</li>
                <li class="liGame">Elden Ring</li>
                <li class="liGame">Nier</li>
                <li class="liGame">Nier Automata</li>
                <li class="liGame">Nier Replicant</li>
                <li class="liGame">The Last of Us</li>
                <li class="liGame">The Last of Us Part II</li>
                <li class="liGame">Hades</li>
                <li class="liGame">Hades II</li>
                <li class="liGame">Hollow Knight</li>
                <li class="liGame">Hollow Knight: Silksong (😭)</li>
                <li class="liGame">Grand Theft Auto </li>
                <li class="liGame">Grand Theft Auto II</li>
                <li class="liGame">Grand Theft Auto III</li>
                <li class="liGame">Grand Theft Auto IV</li>
                <li class="liGame">Grand Theft Auto V</li>
                <li class="liGame">Grand Theft Auto San Andreas</li>
                <li class="liGame">Grand Theft Auto Vice City</li>
                <li class="liGame">Super Mario Odyssey</li>
                <li class="liGame">Super Mario 64</li>
                <li class="liGame">Super Mario Sunshine</li>
                <li class="liGame">Super Mario Galaxy</li>
                <li class="liGame">Super Mario Galaxy 2</li>
                <li class="liGame">Super Mario 3D World</li>
                <li class="liGame">Super Mario Bros</li>
                <li class="liGame">Super Mario Bros 2</li>
                <li class="liGame">Super Mario Bros 3</li>
                <li class="liGame">Minecraft</li>
                <li class="liGame">Terraria</li>
                <li class="liGame">Fortnite</li>
                <li class="liGame">Stardew Valley</li>
                <li class="liGame">Among Us</li>
                <li class="liGame">Fall Guys</li>
                <li class="liGame">Portal</li>
                <li class="liGame">Portal 2</li>
                <li class="liGame">Persona 5</li>
                <li class="liGame">Celeste</li>
                <li class="liGame">Half-Life </li>
                <li class="liGame">Half-Life 2</li>
                <li class="liGame">Half-Life Alyx</li>                
                <li class="liGame">Resident Evil 0</li>
                <li class="liGame">Resident Evil </li>
                <li class="liGame">Resident Evil 2</li>
                <li class="liGame">Resident Evil 3</li>
                <li class="liGame">Resident Evil 4</li>
                <li class="liGame">Resident Evil 5</li>
                <li class="liGame">Resident Evil 6</li>
                <li class="liGame">Resident Evil 7</li>
                <li class="liGame">Resident Evil Village</li>
                <li class="liGame">Resident Evil Code Veronica</li>
                <li class="liGame">Resident Evil Revelations</li>
                <li class="liGame">Resident Evil Revelations 2</li>
                <li class="liGame">Resident Evil Outbreak</li>
                <li class="liGame">Resident Evil Outbreak File 2</li>
                <li class="liGame">Resident Evil Dead Aim</li>
                <li class="liGame">Resident Evil Gaiden</li>
                <li class="liGame">Resident Evil The Umbrella Chronicles</li>
                <li class="liGame">Resident Evil The Darkside Chronicles</li>
                <li class="liGame">Resident Evil Operation Raccoon City</li>
                <li class="liGame">Resident Evil Resistance</li>
                <li class="liGame">The Elder Scrolls</li>
                <li class="liGame">The Elder Scrolls II: Daggerfall</li>
                <li class="liGame">The Elder Scrolls III: Morrowind</li>
                <li class="liGame">The Elder Scrolls IV: Oblivion</li>
                <li class="liGame">The Elder Scrolls V: Skyrim</li>
                <li class="liGame">Uncharted: The Lost Legacy</li>
                <li class="liGame">Uncharted: Drake's Fortune</li>
                <li class="liGame">Uncharted 2: Among Thieves</li>
                <li class="liGame">Uncharted 3: Drake's Deception</li>
                <li class="liGame">Uncharted 4: A Thief's End</li>
                <li class="liGame">Uncharted: Golden Abyss</li>
                <li class="liGame">Uncharted: Fight for Fortune</li>
                <li class="liGame">Metal Gear Solid</li>
                <li class="liGame">Metal Gear Solid 2: Sons of Liberty</li>
                <li class="liGame">Metal Gear Solid 3: Snake Eater</li>
                <li class="liGame">Metal Gear Solid 4: Guns of the Patriots</li>
                <li class="liGame">Metal Gear Solid V: The Phantom Pain</li>
                <li class="liGame">Metal Gear Solid: Peace Walker</li>
                <li class="liGame">Mass Effect 2</li>
                <li class="liGame">Mass Effect 3</li>
                <li class="liGame">Mass Effect Andromeda</li>
                <li class="liGame">Mass Effect Legendary Edition</li>
                <li class="liGame">Final Fantasy</li>
                <li class="liGame">Final Fantasy II</li>
                <li class="liGame">Final Fantasy III</li>
                <li class="liGame">Final Fantasy IV</li>
                <li class="liGame">Final Fantasy V</li>
                <li class="liGame">Final Fantasy VI</li>
                <li class="liGame">Final Fantasy VII</li>
                <li class="liGame">Final Fantasy VII Remake</li>
                <li class="liGame">Final Fantasy VIII</li>
                <li class="liGame">Final Fantasy IX</li>
                <li class="liGame">Final Fantasy X</li>
                <li class="liGame">Doom (2016)</li>
                <li class="liGame">Doom Eternal</li>
                <li class="liGame">Doom 3</li>
                <li class="liGame">Doom 2</li>
                <li class="liGame">Doom 64</li>
                <li class="liGame">Doom</li>
                <li class="liGame">BioShock</li>
                <li class="liGame">BioShock 2</li>
                <li class="liGame">BioShock Infinite</li>
                <li class="liGame">Chrono Trigger</li>
                <li class="liGame">Undertale</li>
                <li class="liGame">Shadow of the Colossus</li>
                <li class="liGame">Ico</li>
                <li class="liGame">The Last Guardian</li>
                <li class="liGame">Silent Hill</li>
                <li class="liGame">Silent Hill 2</li>
                <li class="liGame">Silent Hill 3</li>
                <li class="liGame">Silent Hill 4: The Room</li>
                <li class="liGame">Silent Hill: Homecoming</li>
                <li class="liGame">Silent Hill: Downpour</li>
                <li class="liGame">Silent Hill: Shattered Memories</li>
                <li class="liGame">Silent Hill: Origins</li>
                <li class="liGame">Cuphead</li>
                <li class="liGame">The Binding of Isaac</li>
                <li class="liGame">Bloodstained: Ritual of the Night</li>
                <li class="liGame">Bloodstained: Curse of the Moon</li>
                <li class="liGame">Fire Emblem: Three Houses</li>
                <li class="liGame">Fire Emblem: Awakening</li>
                <li class="liGame">Fire Emblem: Fates</li>
                <li class="liGame">Fire Emblem: Echoes</li>
                <li class="liGame">Fire Emblem: Shadow Dragon</li>
                <li class="liGame">Alien Isolation</li>
                <li class="liGame">Alien vs Predator</li>
                <li class="liGame">Dead Space</li>
                <li class="liGame">Dead Space 2</li>
                <li class="liGame">Dead Space 3</li>
                <li class="liGame">Overwatch</li>
                <li class="liGame">Overwatch 2</li>
                <li class="liGame">World of Warcraft</li>
                <li class="liGame">World of Warcraft: Shadowlands</li>
                <li class="liGame">World of Warcraft: Burning Crusade</li>
                <li class="liGame">World of Warcraft: Wrath of the Lich King</li>
                <li class="liGame">Apex Legends</li>
                <li class="liGame">Valorant</li>
                <li class="liGame">League of Legends</li>
                <li class="liGame">Dota 2</li>
                <li class="liGame">Counter-Strike: Global Offensive</li>
                <li class="liGame">Call of Duty: Warzone</li>
                <li class="liGame">Call of Duty: Black Ops Cold War</li>
                <li class="liGame">Call of Duty: Modern Warfare</li>
                <li class="liGame">Call of Duty: Black Ops</li>
                <li class="liGame">Call of Duty: Black Ops II</li>
                <li class="liGame">Call of Duty: Black Ops III</li>
                <li class="liGame">Call of Duty: Black Ops IV</li>
                <li class="liGame">Call of Duty: Black Ops V</li>
                <li class="liGame">Call of Duty: Black Ops VI</li>
                <li class="liGame">Pokemon Fire Red/Leaf Green</li>
                <li class="liGame">Pokemon Ruby/Sapphire</li>
                <li class="liGame">Pokemon Emerald</li>
                <li class="liGame">Pokemon Diamond/Pearl/Platinum</li>
                <li class="liGame">Pokemon Heart Gold/Soul Silver</li>
                <li class="liGame">Pokemon Black/White</li>
                <li class="liGame">Pokemon Black 2/White 2</li>
                <li class="liGame">Pokemon X/Y</li>
                <li class="liGame">Pokemon Omega Ruby/Alpha Sapphire</li>
                <li class="liGame">Pokemon Sun/Moon</li>
                <li class="liGame">Pokemon Ultra Sun/Ultra Moon</li>
                <li class="liGame">Pokemon Sword/Shield</li>
                <li class="liGame">Pokemon Legends: Arceus</li>
                <li class="liGame">Pokemon Let's Go Pikachu/Let's Go Eevee</li>
                <li class="liGame">Pokemon Snap</li>
                <li class="liGame">Pokemon Snap 2</li>
                <li class="liGame">Pokemon Mystery Dungeon: Red/Blue Rescue Team</li>
                <li class="liGame">Pokemon Mystery Dungeon: Explorers of Time/Darkness/Sky</li>
                <li class="liGame">Pokemon Mystery Dungeon: Gates to Infinity</li>
                <li class="liGame">Assassins Creed</li>
                <li class="liGame">Assassins Creed II</li>
                <li class="liGame">Assassins Creed III</li>
                <li class="liGame">Assassins Creed IV: Black Flag</li>
                <li class="liGame">Assassins Creed Unity</li>
                <li class="liGame">Assassins Creed Syndicate</li>
                <li class="liGame">Assassins Creed Origins</li>
                <li class="liGame">Assassins Creed Odyssey</li>
                <li class="liGame">Assassins Creed Valhalla</li>
                <li class="liGame">Monster Hunter: World</li>
                <li class="liGame">Monster Hunter: Rise</li>
                <li class="liGame">The Sims</li>
                <li class="liGame">The Sims 2</li>
                <li class="liGame">The Sims 3</li>
                <li class="liGame">The Sims 4</li>
                <li class="liGame">Borderlands</li>
                <li class="liGame">Borderlands 2</li>
                <li class="liGame">Borderlands 3</li>
                <li class="liGame">Borderlands: The Pre-Sequel</li>
                <li class="liGame">Diablo</li>
                <li class="liGame">Diablo II</li>
                <li class="liGame">Diablo III</li>
                <li class="liGame">Diablo IV</li>
                <li class="liGame">Starcraft</li>
                <li class="liGame">Starcraft II</li>
                <li class="liGame">Warcraft III</li>
                <li class="liGame">Warcraft III: Reforged</li>
                <li class="liGame">Hearthstone</li>
            </ul> -->
            <button class="btnStyle"> Enviar </button>
        </div>
    </div>
    <script src="/Pages/js.js"></script>
</body>
</html>